In [27]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [34]:
metre = [4.88, 7.75, 9.85, 12.05, 14.35, 16.75, 19.25, 21.85, 24.68, 27.62]
kilo = [43870, 26620, 20250, 15920, 12800, 10450, 8620, 7150, 5910, 4890]

In [45]:
df_m = pd.DataFrame(metre)
df_m
df_k = pd.DataFrame(kilo)
df_k
df = pd.concat([df_m, df_k], axis= 1,)
df.columns = ['metre','kilo']
df

   metre   kilo
0   4.88  43870
1   7.75  26620
2   9.85  20250
3  12.05  15920
4  14.35  12800
5  16.75  10450
6  19.25   8620
7  21.85   7150
8  24.68   5910
9  27.62   4890

In [50]:
import statsmodels.api as sm

y = df[["kilo"]]
X = df[['metre']]

In [52]:
X = sm.add_constant(X)
X

   const  metre
0    1.0   4.88
1    1.0   7.75
2    1.0   9.85
3    1.0  12.05
4    1.0  14.35
5    1.0  16.75
6    1.0  19.25
7    1.0  21.85
8    1.0  24.68
9    1.0  27.62

In [55]:
lm = sm.OLS(y, X)

model = lm.fit()

model.summary()

D:\anaconda3\lib\site-packages\scipy\stats\stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  "anyway, n=%i" % int(n))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   kilo   R-squared:                       0.778
Model:                            OLS   Adj. R-squared:                  0.750
Method:                 Least Squares   F-statistic:                     28.01
Date:                Sat, 05 Mar 2022   Prob (F-statistic):           0.000735
Time:                        17:55:31   Log-Likelihood:                -100.10
No. Observations:                  10   AIC:                             204.2
Df Residuals:                       8   BIC:                             204.8
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       3.823e+04   4672.770      8.182      0.000    2.75e+04     4.9e+04
metre      -1420.1263    268.331     -5.292      0.001   -2038.899    -801.353
==============================================================================
Omnibus:                        5.348   Durbin-Watson:                   0.735
Prob(Omnibus):                  0.069   Jarque-Bera (JB):                2.262
Skew:                           1.152   Prob(JB):                        0.323
Kurtosis:                       3.343   Cond. No.                         42.9
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""